#settings-list::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  /* right: auto; */
  border: 10px solid;
  border-color: transparent transparent #393b44 transparent;
}

.percentage,
.attendees {
  position: relative;
}

.percentage-p {
  position: absolute;
  top: 18px;
  right: 35px;
}

.attendees-i {
  position: absolute;
  top: 18px;
  right: 18px;
}

@media (min-width: 768px) {
  #settings-list::before {
    left: 80%;
    transform: translateX(-20%);
  }
}
