<div class="py-10 bg-bold text-white">
  <div
    class="wrapper flex flex-col justify-between items-center h-full md:flex-row"
  >
    <div class="logo flex items-center mb-8 md:mb-0">
      <img src="assets/img/ds-logo-white.svg" width="50px" alt="logo-ds" />
      <a href="/" class="text-xl font-bold">DroneSolution</a>
    </div>

    <ul class="text-center mb-8 md:text-left md:mb-0">
      <a class="block mb-4" href="#">
        <li>Contactanos</li>
      </a>
      <a class="block mb-4" href="#">
        <li>Acerca de nosotros</li>
      </a>
      <a class="" href="#">
        <li>Términos y Condiciones</li>
      </a>
    </ul>

    <div>
      <a href="#">
        <i class="fab fa-facebook text-2xl"></i>
      </a>
      <a href="#">
        <i class="fab fa-instagram text-2xl ml-2"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter text-2xl ml-2"></i>
      </a>
    </div>
  </div>
</div>
