<div class="sticky top-0 bg-bold text-white py-2 shadow-md">
  <nav class="wrapper flex justify-between items-center">
    <div class="flex items-center">
      {{!-- Logo --}}
      <div>
        <a href="/" class="logo flex items-center">
          <img src="assets/img/ds-logo-white.svg" width="60px" alt="logo-ds" />
          <p class="text-2xl font-bold ml-2">DroneSolution</p>
        </a>
      </div>

      {{!-- Links on Desktop --}}
      <a href="/drones" class="hidden md:block ml-4">Drones</a>
      <a href="/pilots" class="hidden md:block ml-4">Pilotos</a>
    </div>

    {{!-- Drop-down burger button --}}
    <button class="text-2xl focus:outline-none md:hidden" id="burger">
      <i class="fas fa-bars"></i>
    </button>

    {{!-- Auth buttons --}}
    <div class="hidden md:flex items-center">
      <a href="/signin" class="">Iniciar Sesión</a>
      <a href="/signup" class="btn-round ml-4 bg-acent">Registrarse</a>
    </div>
  </nav>

  {{!-- Drop-down list --}}
  <ul
    class="fixed left-0 right-0 bg-bold transform translate-x-full transition-transform duration-100 ease-linear shadow-md"
    id="list"
  >
    <li>
      <a class="block mx-8 border-b border-primary py-4 text-center" href="/drones"
        >Drones</a
      >
    </li>
    <li>
      <a class="block mx-8 border-b border-primary py-4 text-center" href="/pilots"
        >Pilotos</a
      >
    </li>
    <li>
      <a
        class="block mx-8 border-b border-primary py-4 text-center"
        href="/signin"
        >Iniciar Sesión</a
      >
    </li>
    <li>
      <a class="block mx-8 py-4 text-center" href="/signup">Registrarse</a>
    </li>
  </ul>
</div>
