<nav class="flex justify-between items-center px-8 py-4 bg-blue-500 text-white">
  <a href="/" class="text-lg uppercase font-bold">DroneSolution</a>

  <div class="flex">
    <a href="/signin" class="">Iniciar Sesión</a>
    <a href="/signup" class="ml-4">Registrarse</a>
  </div>
</nav>