<div class="mt-8">

  <div class="mb-8">
  <h1 class="text-center text-4xl mb-4">Progrmar Nuevo Evento</h1>
  <p class="text-center">Completa toda la información acerca del evento</p>
  
</div>

<div class="w-4/5 max-w-lg m-auto mb-10">

  <form action="/events/add" method="POST" autocomplete="off">

    <label>
      Nombre del evento
      <input class="input mt-2 mb-4" name="name" type="text" />
    </label>
    <label>
      Descripción
      <input class="input mt-2 mb-4" name="description" type="text" />
    </label>
    <label>
      Fecha
      <input class="input mt-2 mb-4" name="date" type="date" />
    </label>
    <label>
      Hora
      <input class="input mt-2 mb-4" name="hour" type="time" />
    </label>
    <label>
      Duración estimada
      <input class="input mt-2 mb-4" name="duration" type="time" />
    </label>
    <label>
      Cantidad de asistentes
      <input class="input mt-2 mb-8" name="num_attendees" type="number" />
    </label>
    <label>
      Capacidad de aforo permitida
      <input class="input mt-2 mb-8" name="capacity_allowed" type="number" placeholder="%">
    </label>
    <label>
      Categoría del evento
      <select class="input mt-2" name="type">
        <option value="" disabled selected>Selecciona una categoría</option>
        <option value="DEPORTIVO">DEPORTIVO</option>
        <option value="SOCIAL">SOCIAL</option>
        <option value="POLÍTICO">POLÍTICO</option>
      </select>
    </label>

    <button class="border rounded-full px-5 py-2 w-full mt-8 mb-8" type="submit">
      Guardar
    </button>

  </form>
</div>
