{{> logo-head }} 

{{!-- Title --}}

<h1 class="text-center text-4xl mb-8 font-bold text-acent">
  Progrmar Nuevo Evento
</h1>

{{!-- Form to add event --}}

<form class="wrapper" action="/events/add" method="POST" autocomplete="off">
  {{!-- Grid container --}}
  <div class="grid gap-4 md:grid-cols-2">
    <div class="rounded bg-bg_color p-4 shadow-sm">
      <div class="flex items-center justify-center">
        <p class="text-center uppercase my-4 font-bold mr-2">
          Detalles de evento
        </p>
        {{> event-icon }}
      </div>

      <label>
        Nombre del evento
        <input class="input mt-2 mb-4" name="name" type="text" required />
      </label>
      <label>
        Descripción
        <textarea
          rows="2"
          class="input mt-2 mb-4"
          name="description"
          type="text"
          placeholder="De qué se trata el evento..."
          required
        ></textarea>
      </label>
      <label>
        Fecha
        <input class="input mt-2 mb-4" name="date" type="date" required />
      </label>
      <label>
        <div class="grid grid-cols-2 gap-4">
          <div>
            Hora
            <input class="input mt-2 mb-4" name="hour" type="time" required />
          </div>
          <div>
            Duración
            <input 
              class="input mt-2 mb-4" 
              name="duration" 
              type="time" 
              placeholder="Duración"
              required />
          </div>
          </div>
      </label>
      <label>
        <div class="grid grid-cols-2 gap-4">
          <div>
            Cantidad de asistentes
            <input
              class="input mt-2 mb-4"
              name="num_attendees"
              type="number"
              min="1"
              max="1000000"
              placeholder="Asistentes"
              required
            />
          </div>
          <div>
            Aforo permitido
            <div class="percentage">
              <input
                class="input mt-2 mb-4"
                name="capacity_allowed"
                type="number"
                min="1"
                max="100"
                placeholder="Aforo"
                required
              />
              <p class="percentage-p">%</p>
            </div>
          </div>
        </div>
      </label>
      {{!-- <label>
        Capacidad de aforo permitida
      </label> --}}
      <label>
        Categoría del evento
        <select class="input mt-2" name="type" required>
          <option value="" disabled selected>Selecciona una categoría</option>
          <option value="DEPORTIVO">DEPORTIVO</option>
          <option value="SOCIAL">SOCIAL</option>
          <option value="POLÍTICO">RELIGIOSO</option>
          <option value="POLÍTICO">POLÍTICO</option>
          <option value="OTRO">OTRO</option>
        </select>
      </label>
    </div>

    <div class="rounded bg-bg_color p-4 shadow-sm">
      <div class="flex items-center justify-center">
        <p class="text-center uppercase my-4 font-bold mr-2">
          Detalles de lugar
        </p>
        {{> place-icon }}
      </div>

      <label>
        Nombre
        <input class="input mt-2 mb-4" name="name_place" type="text" required />
      </label>
      <label>
        Dirección
        <input class="input mt-2 mb-4" name="address" type="text" required />
      </label>
      <label>
        Tipo
        <select class="input mt-2 mb-4" name="type_place" required>
          <option value="" disabled selected>Selecciona una tipo</option>
          <option value="SALÓN DE EVENTOS">SALÓN DE EVENTOS</option>
          <option value="ESTADIO">ESTADIO</option>
          <option value="PARQUE">PARQUE</option>
          <option value="CENTRO COMERCIAL">CENTRO COMERCIAL</option>
          <option value="IGLESIA">IGLESIA</option>
          <option value="OTRO">OTRO</option>
        </select>
      </label>
      <label>
        Capacidad máxima
        <input
          class="input mt-2 mb-4"
          name="capacity_max"
          type="number"
          required
        />
      </label>
    </div>
  </div>

  <button
    class="btn-round w-full mt-8 mb-8 bg-acent text-white font-bold focus:outline-none"
    type="submit"
  >
    Guardar
  </button>
</form>
