<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- TAILWINDCSS INJECT --}}
  <link rel="stylesheet" href="/main.css">
  <title>DroneSolution</title>
</head>
<body class="font-body bg-gray-100 min-h-screen">
  {{> nav }}
  {{> message }}
  {{{ body }}}
  {{!-- SCRIPTS --}}
  <script src="/main.js"></script>
</body>
</html>