<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- FONT AWESOME --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  {{!-- TAILWINDCSS INJECT --}}
  <link rel="stylesheet" href="/main.css">
  <title>DroneSolution</title>
</head>
<body class="font-principal min-h-screen">

  {{{ body }}}

  {{!-- MAIN SCRIPTS --}}
  <script src="/js/drop-down.js"></script>
  <script src="/js/close-message.js"></script>
  <script src="/js/flash-msg.js"></script>
</body>
</html>