<div class="flex justify-center">
  <form
    action="/signin"
    method="POST"
    class="bg-white shadow-md rounded-md mt-6 px-8 pt-6 pb-8 w-9/12 max-w-md"
  >
    <h1 class="text-center text-gray-700 text-4xl mb-2">Iniciar Sessión</h1>
    <div class="mb-4">
      <input class="input" name="email" type="email" placeholder="Email" />
    </div>
    <div class="mb-4">
      <input
        class="input"
        name="password"
        type="password"
        placeholder="Contraseña"
      />
    </div>
    <button
      class="btn w-full outline-none bg-blue-500 hover:bg-blue-700 text-white"
      type="submit"
    >
      Iniciar Sessión
    </button>
  </form>
</div>
