{{> logo-home }} 

{{> message }}

<div class="mb-8 mt-4">
  <h1 class="text-center text-4xl mb-4 font-bold text-bold">Registrarse</h1>
  <p class="text-center">Únete para formar parte de esta comunidad!</p>
</div>

<div class="w-4/5 max-w-lg m-auto mb-10">
  <form action="/signup" method="POST" autocomplete="off">
    <label>
      Cédula de identidad
      <input
        class="input mt-2 mb-4"
        name="DNI"
        type="text"
        required
      />
    </label>
    <label>
      Nombre completo
      <input
        class="input mt-2 mb-4"
        name="fullname"
        type="text"
        required
      />
    </label>
    <label>
      Correo electrónico
      <input
        class="input mt-2 mb-4"
        name="email"
        type="email"
        required
      />
    </label>
    <label>
      Contraseña
      <input
        class="input mt-2 mb-4"
        name="password"
        type="password"
        required
      />
    </label>
    <label>
      Teléfono
      <input
        class="input mt-2 mb-4"
        name="phone"
        type="tel"
        required
      />
    </label>
    <label>
      Dirección domiciliaria
      <input
        class="input mt-2 mb-8"
        name="home_address"
        type="text"
        required
      />
    </label>

    <p class="mb-8 text-sm text-center">
      Al hacer clic en Registrarte, aceptas los
      <a class="text-acent" href="#">Términos y Condiciones de Uso</a> de
      DroneSolution.
    </p>

    <button class="btn-round bg-acent w-full mb-8 text-white focus:outline-none" type="submit">
      Registrate
    </button>

    <p class="mb-8 text-sm text-center">
      ¿Ya tienes una cuenta?
      <a class="text-acent" href="/signin">Inicia sesión</a>.
    </p>
  </form>
</div>
