{{> logo-home }} 

{{> message }}

<div class="mb-8 text-bold">
  <h1 class="text-center text-4xl mb-4 font-bold">Iniciar Sesión</h1>
  <p class="text-center">Bienvenido de vuelta!</p>
</div>

<div class="w-4/5 max-w-lg m-auto">
  <form action="/signin" method="POST" autocomplete="off">
    <label>
      Correo electrónico
      <input class="input mt-2 mb-4" name="email" type="email" required />
    </label>
    <label>
      Contraseña
      <input class="input mt-2 mb-8" name="password" type="password" required />
    </label>
    <button
      class="btn-round bg-acent w-full mb-8 font-bold text-white focus:outline-none"
      type="submit"
    >
      Iniciar Sesión
    </button>

    <p class="mb-8 text-sm text-center">
      ¿Aún no tienes una cuenta?
      <a class="text-acent" href="/signup">Regístrate</a>.
    </p>
  </form>
</div>
