{{> head }}

<h1 class="text-center text-4xl mb-8 font-bold text-bold mt-8">
  Elige el mejor plan para tu evento
</h1>

<div class="pricing-container wrapper grid gap-4 md:grid-cols-3">
  <div class="basico rounded-lg border text-center shadow-md">
    <div class="top bg-bg_color p-4">
      <h2 class="font-bold text-2xl text-acent">Básico</h2>
      <span class="text-4xl font-bold text-bold">
        $ 300
        <small class="block text-sm"> /evento </small>
      </span>
      <a
        class="btn-round bg-green-300 font-bold text-bold focus:outline-none"
        href="/agreement/{{ id }}/1"
        method="POST"
        >Contratar</a
      >
    </div>
    <div class="features font-secondary">
      <ul>
        <li class="py-2 mt-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2 mb-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
      </ul>
    </div>
  </div>
  <div class="estandar rounded-lg border text-center shadow-md">
    <div class="top bg-bg_color p-4">
      <h2 class="font-bold text-2xl text-acent">Estándar</h2>
      <span class="text-4xl font-bold text-bold">
        $ 600
        <small class="block text-sm"> /evento </small>
      </span>
      <a
        class="btn-round bg-green-300 font-bold text-bold focus:outline-none"
        href="/agreement/{{ id }}/2"
        method="POST"
        >Contratar</a
      >
    </div>
    <div class="features font-secondary">
      <ul>
        <li class="py-2 mt-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2 mb-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
      </ul>
    </div>
  </div>
  <div class="premium rounded-lg border text-center shadow-md">
    <div class="top bg-bg_color p-4">
      <h2 class="font-bold text-2xl text-acent">Premium</h2>
      <span class="text-4xl font-bold text-bold">
        $ 900
        <small class="block text-sm"> /event </small>
      </span>
      <a
        class="btn-round bg-green-300 font-bold text-bold focus:outline-none"
        href="/agreement/{{ id }}/3"
        method="POST"
        >Contratar</a
      >
    </div>
    <div class="features font-secondary">
      <ul>
        <li class="py-2 mt-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
        <li class="py-2 mb-2">
          <i class="fas fa-check mr-2 text-green-300"></i>Lorem, ipsum dolor.
        </li>
      </ul>
    </div>
  </div>
</div>

{{!-- SOCKET.IO --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.auth.js"></script>
