{{> head }}

{{> message }}

<div class="wrapper grid grid-cols-1 gap-x-8 md:grid-cols-2 my-8">
  {{!-- Event section --}}
  <div>
    {{!-- Section title --}}
    <h1 class="font-bold text-2xl mb-4 text-bold">Eventos Programados</h1>

    {{!-- Buttons of event section --}}
    <div class="flex mb-4">
      <button class="focus:outline-none">
        <a href="/events/add">
          <svg
            class="w-8 h-8 text-acent"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </a>
      </button>

      <button class="focus:outline-none">
        <a href="#">
          <svg
            class="w-8 h-8 text-acent"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </a>
      </button>
    </div>

    {{!-- Event list --}}
    <div>{{> events }}</div>

    <h1 class="font-bold text-2xl mb-4 text-bold mt-8">Eventos Contratados</h1>

    <div>
      {{> subscribed }}
    </div>

    {{!-- Confirm dialog --}}
    <div
      id="modal"
      class="fixed left-0 top-0 right-0 bg-black bg-opacity-50 w-screen h-screen hidden"
    >
      <div class="flex justify-center items-center w-screen h-screen">
        <div class="form-delte bg-white rounded-md p-6 w-11/12 max-w-md">
          <div class="flex justify-end items-center">
            <button id="hideModal">
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
          </div>

          <h1 class="text-2xl text-acent font-bold text-center uppercase">
            Dar de baja evento
          </h1>
          <p class="text-bold text-center mb-4">
            Cuentanos los motivos para dar de baja este evento!
          </p>

          <form action="/events/delete" method="POST" autocomplete="off">
            {{!-- Get event ID --}}
            <input id="idValue" class="hidden" type="text" name="id" />

            <label>
              Cédula
              <input class="input mb-2 block" name="user_dni" type="text" />
            </label>
            <label>
              Contraseña
              <input class="input mb-2 block" name="password" type="password" />
            </label>
            <label>
              Motivo
              <textarea class="input block" name="reason" rows="2"></textarea>
            </label>

            <button
              class="mt-4 btn-round w-full text-white font-bold bg-acent focus:outline-none"
            >
              Confirmar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{!-- Messages section --}}
  <div>
    {{!-- Section title --}}
    <h1 class="font-bold text-2xl mb-4 text-bold">Mensajes</h1>

    {{!-- Buttons of messages section --}}
    <div class="flex mb-4">
      <button class="focus:outline-none">
        <a href="#">
          <svg
            class="w-8 h-8 text-acent"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
            ></path>
          </svg>
        </a>
      </button>
    </div>

    {{!-- Notification list --}}
    <div id="wrapperNtf">{{> notification }}</div>
  </div>
</div>

{{!-- SOCKET.IO --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.auth.js"></script>
