<h1>Hola Bienvenido</h1>

<button>
  <a class="btn bg-orange-500 text-white" href="/logout">Salir</a>
</button>

<button class="mb-4">
  <a class="btn bg-blue-500 text-white" href="events/add">Añadir</a>
</button>

<button class="mb-4">
  <a class="btn bg-blue-500 text-white" href="events">Eventos</a>
</button>